.navbar-wrap{
    height: 80vh;
    border-radius: 25px;
}

.navbar-body-wrap{
    display: block !important;
}

.hr-html{
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
}

.nav-pills .nav-link.active {
    background-color: #729ac3;
}

.page-content .modal .modal-body .form-select:focus {
    border-color: #dee2e6;
    box-shadow: none;
}

.page-content .modal .modal-body input{
    color: black;
    border-color: transparent;
    border-radius: 10px;
    width: 100%;
}

.page-content .modal .modal-body input:focus-visible{
    outline: transparent;
}

.task-list{
    list-style: "none";
    height: 60vh;
}

.delete-task-btn{
    width: 54px;
    height: 54px;
}

.delete-task-btn.dropdown-toggle::after{
    margin: 0;
    border: none;
}

.add-task-group-btn{
    font-size: 15px !important;
}

.text-limit {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.modal {
    --bs-modal-width: 24rem !important;
}

.checkbox.task-important label {
    margin: 0;
    color: #333;
}

.checkbox.task-important input[type=checkbox]:checked+label:before {
    background: yellow;
    border: 1px solid yellow;
}

.checkbox.task-important input[type=checkbox]+label:before {
    border: 1px solid #2a3038;
    border-radius: 2px;
    box-sizing: border-box;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-right: 7px;
    width: 20px;
    background: #fff;
    border-color: #ccc;
}

.checkbox.task-important input[type=checkbox]+label {
    align-items: center;
    display: flex !important;
    font-style: normal;
    font-weight: 500;
    /* line-height: 18px; */
    text-transform: lowercase;
    position: relative;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* color: #333; */
}

.checkbox.task-important input[type=checkbox]:checked+label:after {
    color: #fff;
    content: "\f00c";
    font-size: 10px;
    left: 5px;
    position: absolute;
    z-index: 999999999999;
    top: 50%;
    transform: translateY(-50%);
    font-family: FontAwesome !important;
}
  
.checkbox.task-important {
    display: flex;
    margin-bottom: 10px;
    padding: 10px 0;
    align-items: center;
}

@media (max-width: 767.20px){
    .navbar-body-wrap{
        display: inherit !important;
    }

    .navbar-wrap{
        width: calc(100% - 3rem);
        height: auto;
        position: fixed;
        z-index: 9999;
        top: 1rem;
    }

    .page-content {
        margin-top: 13vh;
    }

    .text-limit{
        white-space: normal;
    }
}

@media (min-width: 768px){
    .group-task-item{
        max-width: 6rem;
    }
}

@media (min-width: 930px){
    .group-task-item{
        max-width: 9rem;
    }
}

@media (min-width: 1200px){
    .group-task-item{
        max-width: 12rem;
    }
}

@media (min-width: 1400px){
    .group-task-item{
        max-width: 15rem;
    }
}